<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<label for="image">Upload Image:</label>
<input type="file" id="image" name="image" accept="image/*">
<button onclick="uploadImage()">Upload Image</button>

<div id="images-container">

</div>
<script>
    function uploadImage() {
        const imageFile = document.getElementById("image").files[0];
        const formData = new FormData();
        formData.append("image", imageFile);

        fetch("/api/upload", {
            method: "POST",
            body: formData,
        })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                load_images();
            });
    }

    function load_images() {
        fetch("/api/images")
            .then(response => response.json())
            .then(images => {
                    // Loop through each image and display it using DOM manipulation
                    document.getElementById("images-container").innerHTML = "";
                    for (const image of images) {
                        const imageElement = document.createElement("img");
                        imageElement.src = `data:image/png;base64,${image["image_data"]}`;
                        imageElement.alt = `Image ${image["id"]}`;
                        imageElement.height = 64;

                        // Add the image element to your desired container
                        document.getElementById("images-container").appendChild(imageElement);
                    }
                }
            );
    }

    load_images();
</script>
</body>
</html>